.header {
    height: 4rem;
    width: 100%;
    position: absolute;
    transition: 0.3s;
    z-index: 99;
}
.fixed-header {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.right-item {
    display: flex;
    gap: 40px;
}
.logo a {
    color: var(--primary);
    font-size :28px;

}